@model IEnumerable<SNAP.Models.Persistent.CandidateInterview>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Candidate.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Candidate.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterviewersName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EvaluationStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recommendation)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Candidate.Name, "Details", new { id = item.Candidate.ID }, new { @class = "standard-link-style" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Candidate.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewersName)
            </td>
            <td class="@item.EvaluationStatusStyle status-border-left">
                @Html.DisplayFor(modelItem => item.EvaluationStatus)
            </td>
            <td class="@item.RecommendationStyle status-border-left">
                @Html.DisplayFor(modelItem => item.Recommendation)
            </td>
            <td>
                @Html.ActionLink("Schedule", "Schedule", new { id = item.ID }, new { @class = "btn btn-info" })
                @Html.ActionLink("Evaluation", "Evaluation", new { id = item.ID }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }
</table>