@model SNAP.Models.Mail.PasswordExpirationNotice

@{
    Layout = "_MailLayout.cshtml";
    ViewBag.Banner = "cid:AIS_Banner";
    ViewBag.Heading = Model.Heading;

    ViewBag.GettingHelpURL = "https://dimensiondata.sharepoint.com/teams/0cqqw";
    ViewBag.PasswordManagementURL = "https://dimensiondata.sharepoint.com/teams/0cqqw/SitePages/Password-Management.aspx";
    ViewBag.ServiceDeskURL = "https://quickit.dimensiondata.com/";
}

<tr>
    <td align="center" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
            <tr>
                <td valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td valign="top" class="bodyContent">
                                <div mc:edit="std_content00">
                                    <br />
                                    Your Dimension Data Americas domain password will be expiring soon!
                                </div>
                                <div mc:edit="std_content00">
                                    <br />
                                    It is important to change your password before the date of expiration to avoid any loss of access. Once you have changed your password, update the account settings on any mobile device you may have your Dimension Data email setup on.
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td align="center" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
            <tr>
                <td valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td valign="top" style="padding-top:20px; padding-bottom:20px;">
                                <table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable">
                                    <tr>
                                        <th scope="col" valign="top" width="30%" class="dataTableHeadingWarning" mc:edit="data_table_heading00">
                                            @Html.DisplayNameFor(model => model.DaysRemaining)
                                        </th>
                                        <td valign="top" class="dataTableContent" mc:edit="data_table_content01">
                                            @Model.DaysRemaining
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td align="center" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
            <tr>
                <td valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td valign="top" style="padding-top:20px; padding-bottom:20px;">
                                <table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable">
                                    <tr>
                                        <th scope="col" valign="top" width="45%" class="dataTableHeading" mc:edit="data_table_heading00">
                                            PASSWORD MANAGEMENT
                                        </th>
                                        <td valign="top" class="dataTableContent" mc:edit="data_table_content01">
                                            <a href="@ViewBag.PasswordManagementURL">Password Management Page</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col" valign="top" width="45%" class="dataTableHeading" mc:edit="data_table_heading00">
                                            HELP & SUPPORT
                                        </th>
                                        <td valign="top" class="dataTableContent" mc:edit="data_table_content01">
                                            <a href="@ViewBag.GettingHelpURL">Americas Support</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col" valign="top" width="45%" class="dataTableHeading" mc:edit="data_table_heading00">
                                            SERVICE DESK
                                        </th>
                                        <td valign="top" class="dataTableContent" mc:edit="data_table_content01">
                                            <a href="@ViewBag.ServiceDeskURL">QuickIT</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>